<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery文件 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title></title>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation" th:fragment="headpanel">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">食品安全新闻数据分析系统</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><span class="text-primary" th:text="${'欢迎用户：' + user_name}"></span></li>
				<li><a th:href="@{'/user?user_name='+${user_name}}"><span class="glyphicon glyphicon-user">用户中心</span></a></li>
				<li><a th:href="@{/}"><span class="glyphicon glyphicon-log-out">退出登录</span></a></li>
			</ul>
			<div>
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							爬虫管理<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{'/new_spider?user_name='+${user_name}}">启动新爬虫</a></li>
							<li><a th:href="@{'/spider_supervise?user_name='+${user_name}}">查看运行日志</a></li>
						</ul>
					</li>
					<li><a th:href="@{'/news_view?user_name='+${user_name}}">爬取新闻总览</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							分析结果展示<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">词云展示</a></li>
							<li><a href="#">新闻分析结果展示</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>