<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery文件 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>可视化爬虫管理系统</title>
</head>
<body>

	<div class="page-header text-center">
		<h1>可视化爬虫管理系统
			<br>
			<small>
				基于scrapy的主题爬虫可视化管理系统
			</small>
		</h1>
	</div>
	<!-- 用户登录表单 -->
	<form class="form-horizontal" id="userlogin-form" rol="form" th:action="@{/login}" th:object="${user}" method="post">
		<div th:class="${response == 'fail'} ? 'form-group has-error':'form-group'">
			<label for="name" class="col-sm-2 col-sm-offset-1 control-label">用户名</label>
			<div class="col-sm-6">
				<input type="text" th:field="*{name}" class="form-control" id="name" placeholder="请输入用户名">
			</div>
		</div>
		<div th:class="${response == 'fail'} ? 'form-group has-error':'form-group'">
			<label for="passwd" class="col-sm-2 col-sm-offset-1 control-label">密码</label>
			<div class="col-sm-6">
				<input type="password" th:field="*{passwd}" class="form-control" id="passwd" placeholder="请输入登录密码">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				<button type="submit" id="submit-btn" class="btn btn-primary btn-block">登录</button>
			</div>
		</div>
	</form>
	<footer class="footer">
		<div th:include="footer :: footer_panel"></div>
	</footer>
</body>
</html>