<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery文件 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>启动新的爬虫程序</title>
</head>
<body>
	<div th:include="header :: headpanel"></div>
	<div class="panel panel-default">
		<div class="panel-body">
			<h5 class="text-primary">创建新的爬虫程序</h5>
		</div>
	</div>
	<!-- 爬虫配置表单 -->
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="targetUrl" class="col-sm-2 control-label">目标网址</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="targetUrl" placeholder="输入要爬取新闻文本的网址">
			</div>
		</div>
		<div class="form-group">
			<label for="taskName" class="col-sm-2 control-label">任务名称</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="taskName" placeholder="输入当前任务的名称">
			</div>
		</div>
		<div class="panel panel-default col-sm-10 col-sm-offset-1">
			<div class="panel-heading">
				<h3 class="panel-title">添加爬虫配置参数</h3>
			</div>
			<table class="table">
				<tr>
					<td>
						<div class="input-group">
							<span class="input-group-addon">属性名称</span>
							<input type="text" id="add_param" class="form-control">
						</div>
					</td>
					<td>
						<div class="input-group">
							<span class="input-group-addon">xpath提取规则</span>
							<input type="text" id="add_xpath" class="form-control">
						</div>
					</td>
					<td>
						<div class="input-group">
							<button type="button" id="add_param_btn" class="btn btn-primary">添加</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<!-- 配置爬虫程序的表格 -->
		<table id="spider_params" class="table table-hover col-sm-3 col-sm-offset-1" style="width:80%">
			<caption class="text-left lead">爬虫程序配置参数</caption>
			<thead>
				<tr>
					<th>提取属性名称(title, time...etc)</th>
					<th>提取规则(xpath)</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</form>
</body>
<script type="text/javascript">
	$(document).ready(function(){
		$("#add_param_btn").click(function(){
			var add_param = $("#add_param").val();
			var add_xpath = $("#add_xpath").val();
			// 将添加参数增加到表格中
			var tr = "<tr>"+"<td>"+add_param+"</td>"+"<td>"+add_xpath
				+"</td>"+"<td><button type='button'  class='btn btn-danger'>删除</button></td>"+"</tr>";
			$("table#spider_params tbody").append(tr);
			$("table#spider_params tbody:last").hide();
			$("table#spider_params tbody:last").fadeIn("slow");
		});
		$("table#spider_params").on("click",".btn-danger",function(){
			//获取当前点击删除按钮所在行的参数值
			var xpath = $(this).parent().prev().text();
			var param = $(this).parent().prev().prev().text();
			//查询当前单元行，删除元素
			$("table#spider_params tbody").children(":contains('"+param+"'):contains('"+xpath+"')").fadeOut(
					"slow",function(){
						$(this).remove();
					});
		});
	});
</script>
</html>