<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery文件 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<title>新闻数据总览</title>
</head>
<body>
	<div th:include="header :: headpanel"></div>
	<div class="panel panel-default">
		<div class="panel-body">
			<h2 class="text-primary">新闻数据总览</h2>
		</div>
	</div>
	<button id="btn_show_modal" style="display:none" data-toggle="modal" data-target="#myModal"></button>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						数据加载中......
					</h4>
				</div>
				<div class="modal-footer">
					<button id="myModal_close" type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<!-- 点击查看新闻内容的模态框 -->
	<button id="btn_show_news_content" style="display:none" data-toggle="modal" data-target="#newsModal"></button>
	<div class="modal fade" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="mynewsModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="mynewsModalLabel">新闻内容</h4>
				</div>
				<div class="modal-body">
					<div id="modal_news_content" class="modal-body pre-scrollable">
						<!-- 显示新闻内容 -->
					</div>
				</div>
				<div class="modal-footer">
					<button id="mynewsModal_close" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button id="mynewsModal_copy" type="button" class="btn btn-info" data-clipboard-target="#modal_news_content" title="内容已复制到剪切板!" data-container="#newsModal" data-toggle="popover" data-placement="bottom">复制内容</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 文件导出模态框 -->
	<button id="btn_dump_news" style="display:none" data-toggle="modal" data-target="#dumpModal"></button>
	<div class="modal fade" id="dumpModal" tabindex="-1" role="dialog" aria-labelledby="dumpNewsModalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="dumpNewsModalLabel">文件导出中.........</h4>
				</div>
				<div class="modal-footer">
					<button id="dumpModal_close" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 文件导出目录提示 -->
	<div id="dump_news_tip" class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<span id="dump_news_info"></span>
	</div>
	<!-- 新闻文件导出按钮 -->
	<button id="file_dump" type="button" class="col-sm-offset-10 btn btn-info">文件导出</button>
	<!-- 显示新闻数据的表格 -->
	<table class="table table-hover col-sm-offset-1" style="width:80%">
		<thead>
			<tr>
				<th>网址</th>
				<th>标题</th>
				<th>发布时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody id="newsdata_tbody">
		</tbody>
	</table>
	<!-- 分页按钮  -->
	<div class="col-sm-offset-4">
		<ul id="page_ind" class="paginationjs-theme-blue paginationjs-big"></ul>
	</div>
	<!-- 页脚 -->
	<footer class="footer">
		<div th:include="footer :: footer_panel"></div>
	</footer>
</body>
<script type="text/javascript">
	$(document).ready(function(){
		$.ajaxSetup({async:false});
		$("#btn_show_modal").click();
		$("#dump_news_tip").hide();
		var news_datas=new Array();
		$.get("/news_view/get_news",function(data){
			console.log("接收到新闻数据...");
			news_datas=data;
			setTimeout(function(){
				$("#myModal_close").click();
			},1000);
		});
		news_datas = $.parseJSON(news_datas);
		//console.log("新闻数据的条数:"+news_datas.length+", 第一条新闻内容:"+JSON.stringify(news_datas[0]));
		//每一页显示10条记录
		//底部分页按钮配置参数
		dataSource=new Array();
		for(var i=0;i<news_datas.length;++i){
			dataSource.push(i);
		}
		$("#page_ind").pagination({
			dataSource:dataSource,
			pageSize:10,
			showPrevious:true,
			showNext:true,
			callback:function(data_ind_range){
				console.log("当前页面范围: "+data_ind_range);
				//清除表格中的内容
				$("#newsdata_tbody").empty();
				//动态填充表格中的单元格与数据
				for(var i=0;i<data_ind_range.length;++i){
					var data_ind = data_ind_range[i];
					$("#newsdata_tbody").append("<tr><td><span class='text-primary'><a href='"+news_datas[data_ind]["url"]+"' target='_blank'>"+news_datas[data_ind]["url"]+
							"</a></span></td><td>"+news_datas[data_ind]["title"]+"</td><td>"+news_datas[data_ind]["releaseTime"]+
							"</td><td><button id='"+data_ind+"_view_news' type='button' class='btn btn-link'>查看</button><input style='visibility:hidden;width:5px'>"
								+"<button title='删除成功! 3秒后自动刷新页面' data-container='#newsdata_tbody' data-toggle='popover' data-placement='right' class='btn btn-danger' id='"+news_datas[data_ind]["url"]+"_del_news'>删除</button></td></tr>");
				}
				$(".btn-danger").popover();
			}
		});
		
		//文件导出
		$("#file_dump").on("click",function(){
			$("#btn_dump_news").click();
			console.log("文件导出点击");
			setTimeout(function(){
				var getInfo=null;
				$.post("/news_view/dump_files",function(data){
					console.log(data);
					getInfo = data;
				});
				setTimeout(function(){
					$("#dumpModal_close").click();
					$("#dump_news_info").text(getInfo);
					$("#dump_news_tip").show();
				},1000);
			},1000);
		});
		
		//新闻删除按钮点击事件
		$("body").on("click",".btn-danger",function(){
			console.log("当前删除新闻的Url="+$(this).attr("id").split("_")[0]);
			$.post("/news_view/del_news",{"url":$(this).attr("id").split("_")[0]},function(data){
				//刷新当前页面
				console.log("post 请求回应:"+data);
				console.log("即将刷新界面");
				setTimeout(function(){
					window.location.href="/news_view?user_name=[[${user_name}]]";
				},3000);
			},"json");
		});
		
		//查看新闻内容点击事件
		$("body").on("click",".btn-link",function(){
			var clipboard = new ClipboardJS(".btn-info");
			$("#mynewsModal_copy").popover();
			$("#btn_show_news_content").click();
			console.log("当前点击的编号:"+$(this).attr("id").split("_")[0]);
			//填充新闻内容
			console.log(news_datas[$(this).attr("id").split("_")[0]]["content"]);
			$("#modal_news_content").text(news_datas[$(this).attr("id").split("_")[0]]["content"]);
		});
	});
</script>
</html>