<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery文件 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>修改爬虫配置</title>
</head>
<body>
	<div th:include="header :: headpanel"></div>
	<div class="panel panel-default">
		<div class="panel-body">
			<h2 class="text-primary">修改爬虫配置</h2>
		</div>
	</div>
	<!-- 爬虫配置表单 -->
	<form class="form-horizontal" role="form" id="spider_config_form">
		<div class="form-group">
			<label for="taskName" class="col-sm-2 control-label">任务名称</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="taskName" th:value="${taskName}" readonly="readonly">
			</div>
		</div>
		<div class="panel panel-default col-sm-offset-1" style="width:80%">
			<div class="panel-heading">
				<h3 class="panel-title">修改爬虫配置</h3>
			</div>
			<table class="table">
				<tr>
					<td>
						<div class="input-group">
							<span class="input-group-addon">属性名称</span>
							<input type="text" id="add_param" class="form-control">
						</div>
					</td>
					<td>
						<div class="input-group">
							<span class="input-group-addon">xpath提取规则</span>
							<input type="text" id="add_xpath" class="form-control">
						</div>
					</td>
					<td>
						<div class="input-group">
							<button type="button" id="add_param_btn" class="btn btn-primary">添加</button>
						</div>
					</td>
					<td>
						<div class="input-group">
							<button type="button" id="param_input_clear" class="btn btn-danger">清空输入框</button>
						</div>
					</td>
					<td>
						<div class="input-group">
							<button type="button" id="config_help" class="btn btn-info">配置帮助</button>
						</div>
					</td>
					<td>
						<div class="input-group">
							<button type="button" id="extern_xpath_test" class="btn btn-success">在线xpath测试</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<!-- 配置爬虫参数的表格 -->
		<table id="spider_params" class="table table-hover col-sm-offset-1" style="width:80%">
			<caption class="text-left lead">爬虫配置参数</caption>
			<thead>
				<tr>
					<th>提取属性名称(title, time...etc)</th>
					<th>提取规则(xpath)</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="spider_config_tbody">
			</tbody>
		</table>
		<button type="submit" id="spider_config_submit_btn" class="btn btn-primary col-sm-offset-2" style="width:70%">提交修改</button>
	</form>
	<div class="alert alert-success alert-dismissable col-sm-offset-2" style="display:none;width:60%">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		配置修改成功!&nbsp;&nbsp;&nbsp;&nbsp;3秒后跳转页面......
	</div>
	<div class="alert alert-danger alert-dismissable col-sm-offset-2" style="display:none;width:60%">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		配置修改失败!
	</div>
	<footer class="footer">
		<div th:include="footer :: footer_panel"></div>
	</footer>
</body>
<script type="text/javascript">
	$(document).ready(function(){
		//请求获取当前任务的信息
		var taskName = "[[${taskName}]]";
		var attributes= new Array();
		var config_attrs=new Array(); //配置属性名称, title, url ...
		var config_vals=new Array();	//对应的xpath配置值
		//设置get 同步
		$.ajaxSetup({async:false});
		$.get("/spider_change_cfg/get_spiderinfo_by_taskName",{"taskName":taskName},function(data){
			console.log("获取的数据:"+JSON.stringify(data));
			attributes = data["attributeParser"];
			for(var i=0;i<attributes.length;i++){
				Object.keys(attributes[i]).forEach(function(key){
					console.log(key+"----->"+attributes[i][key]);
					config_attrs.push(key);
					config_vals.push(attributes[i][key])
				});
			}
		},"json");
		//将数据更新的表格的表单中
		console.log("即将更新数据:");
		console.log("属性列表:"+config_attrs.toString());
		console.log("属性取值列表:"+config_vals.toString());
		for(var i=0;i<config_attrs.length;i++){
			//$("#spider_config_tbody").append("<tr><td>"+config_attrs[i]+"</td><td>"+config_vals[i]+"</td><td><button type='button' class='btn btn-danger'>删除</button></td></tr>");
			var tr = "<tr><td>"+config_attrs[i]+"</td><td>"+config_vals[i]+"</td><td><button type='button' class='btn btn-danger'>删除</button></td></tr>";
			$("#spider_config_tbody").append(tr);
			$("#spider_config_tbody:last").hide();
			$("#spider_config_tbody:last").fadeIn("slow");
		}
		
		$("#add_param_btn").click(function(){
			var add_param = $("#add_param").val();
			var add_xpath = $("#add_xpath").val();
			//判断该解析规则是否已经添加到表格中
			if($("table#spider_params tbody").children(":contains('"+add_param+"'):contains('"+add_xpath+"')").html() != undefined){
				alert("该规则已经添加!");
				return;
			}
			// 将添加参数增加到表格中
			var tr = "<tr>"+"<td>"+add_param+"</td>"+"<td>"+add_xpath
				+"</td>"+"<td><button type='button'  class='btn btn-danger'>删除</button></td>"+"</tr>";
			$("table#spider_params tbody").append(tr);
			$("table#spider_params tbody:last").hide();
			$("table#spider_params tbody:last").fadeIn("slow");
		});
		$("table#spider_params").on("click",".btn-danger",function(){
			//获取当前点击删除按钮所在行的参数值
			var xpath = $(this).parent().prev().text();
			var param = $(this).parent().prev().prev().text();
			//查询当前单元行，删除元素
			$("table#spider_params tbody").children(":contains('"+param+"'):contains('"+xpath+"')").fadeOut(
					"slow",function(){
						$(this).remove();
					});
		});
		$("#param_input_clear").on("click",function(){
			//清空输入框
			$("#add_param").val("");
			$("#add_xpath").val("");
		});
		$("#config_help").on("click",function(){
			//打开配置帮助页面
			var user_name="[[${user_name}]]";
			var link=$("<a href='/spider_change_cfg/cfg_help?user_name="+user_name+"' target='_blank'>帮助页面</a>").get(0);
			var e = document.createEvent("MouseEvents");
			e.initEvent("click",true,true);
			link.dispatchEvent(e);
		});
		//外部链接，在线xpath测试
		$("#extern_xpath_test").on("click",function(){
			var link=$("<a href='https://www.toolnb.com/tools-lang-zh-CN/xpath.html' target='_blank'>在线xpath测试</a>").get(0);
			var e = document.createEvent("MouseEvents");
			e.initEvent("click",true,true);
			link.dispatchEvent(e);
		});
		$("#spider_config_form").submit(function(event){
			event.preventDefault();
			config=new Array();
			for(var i=1;i<=$("#spider_config_tbody").children().length;i++){
				console.log($("#spider_config_tbody").children(":nth-child("+i+")").children(":nth-child(1)").text());
				config.push($("#spider_config_tbody").children(":nth-child("+i+")").children(":nth-child(1)").text());
				config.push($("#spider_config_tbody").children(":nth-child("+i+")").children(":nth-child(2)").text());
			}
			console.log("获取的所有的配置参数为:"+config);
			$.post("spider_change_cfg/update_cfg",{"config":JSON.stringify(config),"taskName":JSON.stringify("[[${taskName}]]")},function(){},"json");
			//window.location.href="/spider_supervise?user_name=[[${user_name}]]";
			$(".alert-success").css("display","block");
			setTimeout(function(){
				window.location.href="/spider_supervise?user_name=[[${user_name}]]";
			},3000);
		});
// 		$("#spider_config_submit_btn").on("click",function(){
// 			console.log("表单提交操作");
// 			$.post("/spider_change_cfg/update_cfg","",function(){},"json");
// 			window.location.href("/spider_supervise?user_name=[[${user_name}]]");
// 		});
		
	});
</script>
</html>